/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1305px) {
   
 }


@media only screen and (max-width : 1200px) {
	 .head_return {
   width: 60%;
 }


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 

 .head_return {
   width: 100%;
 }
	
  img.Java {
  	top: 2em;
    left: 81%;
    width: 36%;
  }

  img.html5 {
  	width: 37%;
  }
  img.css3 {
  	left: 66%;
    width: 54%;
  }
  .jQuery {
  	width: 41%;
    top: 14em;
  }
  .fly-skill li {
  	font-size: 1em;
  }

  .biografy {
  	font-size: 1em;
  	overflow: hidden;
  }
.fly-in-text li {
    color: #373636;
}
  .about {
  	background-attachment: scroll;
  	height: 100vh;
    overflow: visible;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .head_img {
    position: absolute;
    right: 2%;
    top: 41%;
    width: 38%;
}

.images_skill {
    position: relative;
    overflow: hidden;
    height: 100%;
}
img.Java {
  	top: 2em;
    left: 69%;
    width: 27%;  }

  img.html5 {
  	width: 37%;
  }
  img.css3 {
  	left: 50%;
    width: 40%;
  }
  .jQuery {
  	width: 38%;
    top: 12em;
  }
  img.photo {
  	width: 31%;
    top: 16em;

  }
  img.images_Iam {
  	width: 31%;
  }
  ul#fly-text {
    margin-top: -134px;
    font-size: 18px;
    overflow: hidden;
        height: 38em;
}

.fly-in-text {
	height: 100vh;
}
.about {
	background-color: white; 
  	background-attachment: local;
  	height: 100%;
    overflow: visible;
  }

}
@media only screen and (max-width : 668px){
  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .head_img {
    position: absolute;
    right: 2%;
    top: 37%;
    width: 56%;
}
.fly-in-text li {
    color: #373636;
}
	.face-image {
    position: relative;
    top: 0;
    z-index: 1;
    background-size: 32px auto;
}
		.nav_menu {
			background-color: #e0e0e0;
			display: none;
    		height: 142px;
    		left: 51px;
    		position: absolute;
    		top: 1px;
    		vertical-align: middle;
   			 width: 114px;
		}
		.nav_menu ul {
    list-style-type: none;
    padding: 0;
}
		.nav_menu a {
			display: block;
		}

		.img_hrz {
			position: relative;
			top: 50px;
		}
    
	

.head_horizontal {
	    top: 0%;
	    bottom: 3em;
}
.fly-skill li {
  	font-size: 10px;
  }

  .biografy {
  	font-size: 10px;
  }
	h1 {
		font-size: 16px;
	}

	.text-center {
		 font-size: 8px;
	}

.fly-in {
	overflow: hidden;
}
p#portfolio {
	font-size: 2em;
}
 .contact {
 	text-align: center;
 	font-size: 2em;
 } 
  img.html5 {
  	width: 31%;
  }
  img.css3 {
  	left: 35%;
    width: 29%;
  }
  .jQuery {
    width: 34%;
    top: 7em;
  }
  img.photo {
  	width: 24%;
    top: 8em;

  }
   ul#fly-text {
    margin-top: -134px;
    font-size: 8px;
    overflow: hidden;
}
.about {
    background-color: #FAFAFA;
    background-image: none;
  	background-attachment: local;
  	height: 100%;
    overflow: visible;
  }
 .fly-in-text {
	height: 100%;
}
.image_scroll {
	opacity: 0;
}
.hiddeSkill {
	visibility: visible;
}
.skill {
    background-color: #FAFAFA;
    color: #373636;
    }

 }


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	 .head_img {
    position: absolute;
    right: 2%;
    top: 37%;
    width: 56%;
    }

 .biografy {
  	font-size: 10px;
  	height: 100%;
  }
  ul#fly-text {
    margin-top: -152px;
    font-size: 10px;
    overflow: hidden;
    height: 100%;
}
h1 {
		font-size: 10px;
    letter-spacing: 0px;
	}
	.text-center {
		 font-size: 10px;
	}
	.fly-skill li {
    font-size: 10px;
}
p#portfolio {
    font-size: 1em;
}
div#contact {
    font-size: 1em;
}

 
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.nav_menu {
		display: block !important;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 2200px) {
.head_img {
    position: absolute;
    right: 2%;
    top: 39%;
}
}